
   <hr>
   <div class="form-droup">
    <tr>
      <td>
        <label >First Name :</label>
        <input type="text" #firstname>
      </td>
      <td>
        <label for="">Last Name :</label>
        <input type="text" #lastname>
      </td>
    </tr>

    </div>
    <div class="form-droup">
      <tr>
        <td>
          <label for="">Birth Date :</label>
          <input type="date" name="releaseDate" #date>
        </td>
      </tr>
      <td>
        <button class="btn btn-success" (click)="savestudent()">Add Student</button>
      </td>
    </div>
